    <div class="container">
      <div class="jumbotron" *ngFor="let movie of movieList">
          <h1>{{ movie.title }} - {{ movie.year }}</h1>
          <p class="lead"> {{ movie.plot }} </p>
          <img [src]="movie.poster" class="rounded float-right">
          <p><button class="btn btn-lg btn-primary" v-on:click="deleteEvent(event.id)" *ngIf="isAdmin">Edit</button>
          <button class="btn btn-lg btn-danger" v-on:click="deleteEvent(event.id)" *ngIf="isAdmin">Delete</button></p>
      </div>
    </div>