<div class="container" style="padding: 20px">
  <div style="padding: 10px">
    <button button="submit" class="btn btn-lg btn-primary" color="primary" (click)="openNewPostView()">+ Add Post</button>
  </div>
  <div class="jumbotron" id='myDesign' *ngFor="let post of posts">
    <div class="media">
      <img class="media-object" [src]=post.imageURL>
      <div class="media-body" style="padding: 10px;">
        <h3 class="media-heading"><u><b>{{ post.title }}</b></u></h3>
        <p> {{ post.content }} </p>
      </div>
      <div>
        <p class="text-left">{{ post.movie.title }}</p>
      </div>
    </div>
    <ul class="list-inline list-unstyled">
      <li><span><i class="glyphicon glyphicon-calendar"></i>{{ post.date | date:"short" }} </span></li>
      <li>|</li>
      <span> By {{ post.authorName }} </span>
      <li>|</li>
      <span><i class="glyphicon glyphicon-comment"></i> {{ post.comments.length }} comments </span>
    </ul>
    <div>
      <button class="btn btn-lg float-right btn-danger" (click)="deletePost(post)" *ngIf="isAdmin">Delete</button>
    </div>
    <button button="submit" class="btn btn-lg btn-primary" color="primary" (click)="openNewCommentView(post)">New
      Comment</button>
    <div class="comments-title"> Comments: </div>
    <div *ngIf="post.comments.length == 0">
      Be the first to leave a comment!
    </div>
    <div class="card" id="commentDiv" *ngFor="let comment of post.comments; let i = index" [attr.data-index]="i">
      <div class="card-body">
        <p><strong>{{comment.authorName}}</strong></p>
        <p>{{comment.content}}
          <button class="btn btn-sl float-right btn-danger" (click)="deleteComment(comment)"
            *ngIf="isAdmin">Remove</button>
        </p>
      </div>
    </div>
  </div>