<div class="posts-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add a New Post:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="new-post">
        <div class="new-post-group">
          <mat-form-field class="new-post-short-field">
            <input required matInput placeholder="Title" #title>
          </mat-form-field>
  
          <mat-form-field class="new-post-short-field">
            <input required matInput placeholder="Author" #authorName>
          </mat-form-field>
  
          <mat-form-field class="new-post-short-field">
            <mat-select [(ngModel)]="selectedPost" placeholder="Post">
              <mat-option *ngFor="let post of posts" [value]="post.id">
                {{ post.title === '' ? 'Select Post' : post.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="new-post-group">
          <mat-form-field>
            <textarea matInput required placeholder="Content" rows="2" #content></textarea>
          </mat-form-field>
        </div>
        <button mat-button id="add-post-btn" (click)="addPost(content, title, authorName);">Add</button>
      </div>
    </mat-expansion-panel>
    <br />
  
<div *ngFor="let post of posts">
    <!-- POST CARD -->
    <mat-card class="displayed-post">
      <mat-card-title>
        <b> {{ post.title }}</b>
      </mat-card-title>
      <mat-card-subtitle>
        <span> Date:
          <b>{{post.date | date:"short"}}</b>
        </span>
      </mat-card-subtitle>
      <mat-card-content>
        <span>
          <b>{{post.content}}</b>
        </span>
        <span>
          <br>
          <b>{{post.authorName}}, {{post.movie.name}}</b>
        </span>
      </mat-card-content>
    </mat-card>
    <!-- ALL POST COMMENTS -->
    <div>
      <div class="comments-title"> Comments: </div>
      <div *ngIf="post.comments.length == 0">
        Be the first to leave a comment!
      </div>
      <mat-card class="comment-card" *ngFor="let comment of post.comments; let i = index" [attr.data-index]="i">
        <mat-card-title>
          <b>{{comment.title}}</b>
        </mat-card-title>
        <mat-card-subtitle>
          <span> Author name:
            <b>{{comment.authorName}}</b>
          </span>
        </mat-card-subtitle>
        <mat-card-content>
          <span *ngIf="!isEditing;">
            <b>{{comment.content}}</b>
          </span>
          <span *ngIf="currentEditIndex==i">
            <textarea rows="4" cols="50" [(ngModel)]="comment.content"></textarea>
          </span>
          <div *ngIf="comment.authorSiteURL">
            <b>siteURL: {{comment.authorSiteURL}}</b>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="onEditToggle(i)">{{isEditing ? 'Save' : 'Edit'}}</button>
          <button mat-button (click)="onCommentRemove(comment._id)">Remove</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!-- ADDING NEW COMMENT  -->

    <div class="new-comment">
        <p>Add a new comment:</p>
        <div>
            <mat-form-field class="new-comment-field">
              <input required matInput placeholder="Your name" #authorName>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="new-comment-field">
              <input required matInput placeholder="Title" #title>
            </mat-form-field>
      </div>

      <div>
        <mat-form-field class="new-comment-content-field">
          <textarea required matInput placeholder="Content" rows="2" #content></textarea>
        </mat-form-field>
      </div>

      <button mat-button id="add-comment-btn" (click)="addComment(title, authorName, siteUrl, content);">Add Comment</button>
    </div>
</div>