

#commentDiv{
  padding: 2;
  background-color: #ededed;
  width: 70%;
  border-radius: 8px;
}

P {
  align-self: flex-start;
}

#myDesign {
    border: 2px solid #8aa2f0;
    border-radius: 25px;
}
img {
    border-radius: 8px;
    width: 200;
    height: 200px;
  }
