div {
    text-align: center;
}
 .leftdiv {
    width: 50%;
    float: left;
    height: 100%;
}
.rightdiv {
    width: 50%;
    float: right;
    height: 100%;
}
.containerdiv {
    height: 200px;
}


.container-multi-col {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
    -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;
    -webkit-column-rule-color: lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule-color: lightblue; /* Firefox */
    column-rule-color: lightblue;
    margin-bottom: 50px;
}

.main-mul {  
    background-color: #ffffffa3;
    padding: 3em;
    box-shadow: 0px 0px 7px black;
    font-size: 18px;
  }
  