<script src="https://d3js.org/d3.v4.js"></script>
<div class="containerdiv">
  <div class="leftdiv">
    <p>Movies ranking by Imdb ranking</p>
    <div #rankingchart class="graphdiv" id="ranking"></div>
  </div>

  <div class="rightdiv">
    <p>Movies ranking by Imdb votes</p>
    <div #voteschart class="graphdiv" id="Votes"></div>
  </div>
</div>
<div class="container-multi-col">
  <section>
    <ul class="main-mul">
      <li>
        In our blog we provide you with smart machine learning algorithm to find
        the best movie for you according to your latest movie mentioned at a
        post.
      </li>
      <li>
        Using KNN algorithm we analyze which of our movies is the most suitable
        to your movie genres and post it at our facebook page "Movies".
      </li>
      <li>
        For your use we provide a visual histograms so you will know which
        movies are top ranked and which are most voted according to IMDB scores.
      </li>
      <li>
        <b>Come to be our friend in our Facebook page "Movies"</b>
      </li>
    </ul>
  </section>
</div>
