<script src="https://d3js.org/d3.v4.js"></script>
<div class="containerdiv">
  <div class="leftdiv">
    <p>Movies ranking by Imdb ranking</p>
    <div #rankingchart class="graphdiv" id="ranking"></div>
  </div>

  <div class="rightdiv">
    <p>Movies ranking by Imdb votes</p>
    <div #voteschart class="graphdiv" id="Votes"></div>
  </div>
</div>
<div class="container-multi-col">
  <section>
    <ul class="main-mul">
      <li>
        In our blog we use Machine Learning, in order to provide for you the
        best service in order that you will keep be posted by the best movies
        that matchs to you.
      </li>
      <li>
        The statistics from above present data from Imdb web. For each movie we
        present the number of votes for the movie ( Imdb votes ). And present
        the average ranking stars of the votes. ( Imdb ranking )
      </li>
      <li>
        By posting in this blog we processing the movie data that you post on.
        And we post for you in the our Facebook page "Movies", movie that match
        for you using KNN algorithm.
      </li>
      <li>
        <b>Come to be our friend in our Facebook page "Movies"</b>
      </li>
    </ul>
  </section>
</div>
