<div class="new-comment">
        <div>
            <mat-form-field class="new-comment-field">
                <input required matInput placeholder="Your name" [(ngModel)]=authorName>
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field class="new-comment-content-field">
                <textarea required matInput placeholder="Content" rows="3" [(ngModel)]=content></textarea>
            </mat-form-field>
        </div>
    
    <button mat-button mat-dialog-close  id="add-comment-btn" (click)="closeDialog()">Submit</button>
    <button mat-button mat-dialog-close >Cancel</button>
    </div>