<div>
  <div>
    <section>
      <canvas
        id="TitleSearchCanvas"
        width="260"
        height="70"
        style="border:2px solid #8aa2f0;"
      ></canvas>
    </section>
  </div>
  <div>
    <mat-form-field class="new-post-short-field">
      <input matInput placeholder="Movie Name" [(ngModel)]="name" />
    </mat-form-field>

    <mat-form-field class="new-post-short-field">
      <input matInput placeholder="Genre" [(ngModel)]="genre" />
    </mat-form-field>

    <mat-form-field class="new-post-short-field">
      <input
        matInput
        type="number"
        min="1920"
        max="{{ this.currYear }}"
        placeholder="Production Year"
        [(ngModel)]="productionYear"
      />
    </mat-form-field>

    <mat-form-field class="new-post-short-field">
      <input
        matInput
        placeholder="Production Country"
        [(ngModel)]="productionCountry"
      />
    </mat-form-field>

    <div class="movies-table-container mat-elevation-z8">
      <table id="movies-table" matSort (matSortChange)="sortData($event)">
        <thead>
          <th mat-sort-header="name">Movie Name</th>
          <th mat-sort-header="genre">Genre</th>
          <th mat-sort-header="productionYear">Production Year</th>
          <th mat-sort-header="productionCountry">Production Country</th>
          <th mat-sort-header="ranking">Imdb rating</th>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let movie of sortedMovies
                | movieNameFilter: name
                | movieGenreFilter: genre
                | movieProductionYearFilter: productionYear
                | movieProductionCountryFilter: productionCountry
            "
          >
            <td>{{ movie.title }}</td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.country }}</td>
            <td>{{ movie.ranking }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr />
  <br />

  <div>
    <section>
      <canvas
        id="PostSearchCanvas"
        width="260"
        height="70"
        style="border:2px solid #8aa2f0;"
      ></canvas>
    </section>
  </div>
  <div>
    <mat-form-field class="new-post-short-field">
      <input matInput placeholder="Title" [(ngModel)]="title" />
    </mat-form-field>

    <mat-form-field class="new-post-short-field">
      <input matInput placeholder="Author Name" [(ngModel)]="authorName" />
    </mat-form-field>

    <mat-form-field class="new-post-short-field">
      <input matInput placeholder="Movie" [(ngModel)]="movie" />
    </mat-form-field>

    <div class="movies-table-container mat-elevation-z8">
      <table id="movies-table" matSort (matSortChange)="sortPostsData($event)">
        <thead>
          <th mat-sort-header="title">Title Post</th>
          <th mat-sort-header="authorName">Author Name</th>
          <th mat-sort-header="movie">Movie</th>
          <th mat-sort-header="date">Date</th>
          <th mat-sort-header="numComments">Number Of Comments</th>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let post of sortedPosts
                | postTitleFilter: title
                | postAuthorNameFilter: authorName
                | postmovieFilter: movie
            "
          >
            <td>{{ post.title }}</td>
            <td>{{ post.authorName }}</td>
            <td>{{ post.movie.title}}</td>
            <td>{{ post.date | date : "dd.MM.y"}}</td>
            <td>{{ post.comments.length}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
