<header>
  <div class="app-bar-title">
    {{title}}
  </div>

  <aside>
    <app-weather></app-weather>
  </aside>
  
  <nav class="app-nav-bar">
    <div class="part-nav-bar">
      <a routerLink="/">Home</a>
      <a routerLink="/posts">Posts</a>
    </div>
    <div class="part-nav-bar">
      <a routerLink="/statistics">Statistics</a>
      <a routerLink="/management">Management</a>
    </div>
  </nav>
</header>
<div class="main-container">
  <router-outlet></router-outlet>
</div>


  





<footer>Developed with ❤ for movie lovers</footer>
  